@{
    ViewBag.Title = "Home Page";
    ViewBag.JS = "/Scripts/Page/Home.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Data Karyawan Fit -->
<div class="row">
    <div class="col">
        <h4>Data Karyawan Fit</h4>
    </div>
    <div class="col text-end">
        <div style="display: inline-block; vertical-align: middle; max-width:900px">
            <input type="text" class="js-flatpickr form-control" id="example-flatpickr-range" name="example-flatpickr-range" placeholder="Select Date Range" data-mode="range">
        </div>
    </div>
</div>
<div class="row">
    <!-- Row #1 -->
    <div class="col-md-6 col-xl-4">
        <a class="block block-link-pop" href="javascript:void(0)">
            <div class="block-content block-content-full d-flex align-items-center justify-content-between">
                <div class="p-3">
                    <i class="fa fa-2x fa-user-group text-secondary"></i>
                </div>
                <div class="ms-1 text-start">
                    <p class="fs-sm text-uppercase fw-semibold text-muted mb-0">
                        Total Karyawan Masuk Chamber
                    </p>
                    <p class="fs-lg fw-semibold mb-0">
                        <span id="totalKaryawanMasuk">-</span>
                    </p>
                    <p class="fw-normal mb-0" style="font-size:small">
                        Update Terakhir <span id="updateTerakhirKaryawanMasuk">-</span>
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-6 col-xl-4">
        <a class="block block-link-pop" href="javascript:void(0)">
            <div class="block-content block-content-full d-flex align-items-center justify-content-between">
                <div class="p-3">
                    <i class="fa fa-2x fa-user-group text-info"></i>
                </div>
                <div class="ms-1 text-start">
                    <p class="fs-sm text-uppercase fw-semibold text-muted mb-0">
                        Total Karyawan Masuk Fit
                    </p>
                    <p class="fs-lg fw-semibold mb-0">
                        <span id="totalKaryawanFit">-</span>
                    </p>
                    <p class="fw-normal mb-0" style="font-size:small">
                        Update Terakhir <span id="updateTerakhirKaryawanFit">-</span>
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-4">
        <a class="block block-link-pop" href="javascript:void(0)">
            <div class="block-content block-content-full d-flex align-items-center justify-content-between">
                <div class="p-3">
                    <i class="fa fa-2x fa-user-group text-danger"></i>
                </div>
                <div class="ms-1 text-start">
                    <p class="fs-sm text-uppercase fw-semibold text-muted mb-0">
                        Total Karyawan Masuk Unfit
                    </p>
                    <p class="fs-lg fw-semibold mb-0">
                        <span id="totalKaryawanUnfit">-</span>
                    </p>
                    <p class="fw-normal mb-0" style="font-size:small">
                        Update Terakhir <span id="updateTerakhirKaryawanUnfit">-</span>
                    </p>
                </div>
            </div>
        </a>
    </div>
    <!-- END Row #1 -->
</div>

<!-- Progress Fatigue Check -->
<div class="col-12 mb-2">
    <span style="font-size: 18px; font-weight:600">Progress <i>Fatigue</i> Check</span><br />
    <span style="font-size: 10px;">Berikut persentase dari fatigue check chamber</span>
</div>
<div class="row g-sm">
    <div class="col-6 col-md-4 col-xl-4">
        <div class="block block-link-pop text-center" href="javascript:void(0)">
            <div class="block-content">
                <div class="ms-1 text-center">
                    <p class="fs-sm text-uppercase fw-semibold text-muted mb-0">
                        Prosentase Fatigue
                    </p>
                    <div class="col-12">
                        <canvas id="chartshome"></canvas>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
    <div class="col-6 col-md-4 col-xl-4">
        <div class="block block-link-pop text-center" href="javascript:void(0)">
            <div class="block-content">
                <div class="ms-1 text-start">
                    <p class="fs-sm text-uppercase fw-semibold text-muted mb-0">
                        Sudah Approved
                    </p>
                    <p class="fs-lg fw-semibold mb-0">
                        <span id="sudahapproved">-</span>
                    </p>
                    <p class="fw-normal mb-0" style="font-size: small">
                        Update Terakhir <span id="sudahapprovedDate">-</span>
                    </p>
                </div>
                <br />
                <a class="btn rounded-0 btn-secondary mb-4 w-100" id="linkSudahApprove">
                    Lihat Detail
                </a>
            </div>
        </div>
        <div class="block block-link-pop text-center" href="javascript:void(0)">
            <div class="block-content">
                <div class="ms-1 text-start">
                    <p class="fs-sm text-uppercase fw-semibold text-muted mb-0">
                        Akan Re-test
                    </p>
                    <p class="fs-lg fw-semibold mb-0">
                        <span id="retest">-</span>
                    </p>
                    <p class="fw-normal mb-0" style="font-size: small">
                        Update Terakhir <span id="retestDate">-</span>
                    </p>
                </div>
                <br />
                <a class="btn rounded-0 btn-secondary mb-4 w-100" id="aknrtst" data-filter="Retest">
                    Lihat Detail
                </a>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-4 col-xl-4">
        <div class="block block-link-pop text-center" href="javascript:void(0)">
            <div class="block-content">
                <div class="ms-1 text-start">
                    @if (Session["ID_Role"].ToString() == "4")
                    {
                        <p class="fs-sm text-uppercase fw-semibold text-muted mb-0">
                            Butuh Approval (Paramedic)
                        </p>
                    }
                    else
                    {
                        <p class="fs-sm text-uppercase fw-semibold text-muted mb-0">
                            Butuh Approval
                        </p>
                    }
                    <p class="fs-lg fw-semibold mb-0">
                        <span id="butuhapproval">-</span>
                    </p>
                    <p class="fw-normal mb-0" style="font-size: small">
                        Update Terakhir <span id="butuhapprovalDate">-</span>
                    </p>
                </div>
                <br />
                <a class="btn rounded-0 btn-danger mb-4 w-100" id="linkButuhApprove">
                    Approve
                </a>
            </div>
        </div>
        <div class="block block-link-pop text-center" href="javascript:void(0)">
            <div class="block-content">
                <div class="ms-1 text-start">
                    <p class="fs-sm text-uppercase fw-semibold text-muted mb-0">
                        Tidak Dapat Bekerja
                    </p>
                    <p class="fs-lg fw-semibold mb-0">
                        <span id="tdkdptbekerja">-</span>
                    </p>
                    <p class="fw-normal mb-0" style="font-size: small">
                        Update Terakhir <span id="tdkdptbekerjaDate">-</span>
                    </p>
                </div>
                <br />
                <a class="btn rounded-0 btn-secondary mb-4 w-100" id="brhntbkrj">
                    Lihat Detail
                </a>
            </div>
        </div>
    </div>
</div>

<!-- CFC Utilization -->
<div class="col-12 mb-2 mt-3">
    <span style="font-size: 18px; font-weight:600">CFC Utilization</span><br />
    <span style="font-size: 10px;">Berikut data setiap chamber yang tersedia di @Session["Site"].ToString(). Klik disini untuk melihat detail setiap chamber <a href="/CfmManagement/Index" style="color: red; text-decoration: none;">See more</a></span>
</div>
<div class="row">
    <!-- Row #1 -->
    <div class="col-md-6 col-xl-3">
        <div class="block block-link-pop">
            <div class="block-content block-content-full d-flex flex-column align-items-center">
                <div class="ms-1 text-start">
                    <p class="fs-sm text-uppercase fw-semibold text-muted mb-0">
                        Chamber 01
                    </p>
                    <p class="fs-lg fw-semibold mb-0">
                        <span id="cham001">-</span>
                    </p>
                    <p class="fw-normal mb-0" style="font-size: small">
                        Last Update <span id="cham001Date">-</span>
                    </p>
                </div>
                @if (Session["ID_Role"].ToString() != "1")
                {

                }
                else
                {
                    <br />
                    <a class="btn rounded-0 btn-outline-secondary mb-2 w-100" id="linkChamber">
                        <i class="fa fa-inbox opacity-50 me-1"></i> Lihat Detail
                    </a>
                }
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="block block-link-pop">
            <div class="block-content block-content-full d-flex flex-column align-items-center">
                <div class="ms-1 text-start">
                    <p class="fs-sm text-uppercase fw-semibold text-muted mb-0">
                        Chamber 02
                    </p>
                    <p class="fs-lg fw-semibold mb-0">
                        <span id="cham002">-</span>
                    </p>
                    <p class="fw-normal mb-0" style="font-size: small">
                        Last Update <span id="cham002Date">-</span>
                    </p>
                </div>
                @if (Session["ID_Role"].ToString() != "1")
                {

                }
                else
                {
                    <br />
                    <a class="btn rounded-0 btn-outline-secondary mb-2 w-100" id="linkChamber2">
                        <i class="fa fa-inbox opacity-50 me-1"></i> Lihat Detail
                    </a>
                }
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="block block-link-pop">
            <div class="block-content block-content-full d-flex flex-column align-items-center">
                <div class="ms-1 text-start">
                    <p class="fs-sm text-uppercase fw-semibold text-muted mb-0">
                        Chamber 03
                    </p>
                    <p class="fs-lg fw-semibold mb-0">
                        <span id="cham003">-</span>
                    </p>
                    <p class="fw-normal mb-0" style="font-size: small">
                        Last Update <span id="cham003Date">-</span>
                    </p>
                </div>
                @if (Session["ID_Role"].ToString() != "1")
                {

                }
                else
                {
                    <br />
                    <a class="btn rounded-0 btn-outline-secondary mb-2 w-100" id="linkChamber3">
                        <i class="fa fa-inbox opacity-50 me-1"></i> Lihat Detail
                    </a>
                }
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="block block-link-pop">
            <div class="block-content block-content-full d-flex flex-column align-items-center">
                <div class="ms-1 text-start">
                    <p class="fs-sm text-uppercase fw-semibold text-muted mb-0">
                        Chamber 04
                    </p>
                    <p class="fs-lg fw-semibold mb-0">
                        <span id="cham004">-</span>
                    </p>
                    <p class="fw-normal mb-0" style="font-size: small">
                        Last Update <span id="cham004Date">-</span>
                    </p>
                </div>
                @if (Session["ID_Role"].ToString() != "1")
                {

                }
                else
                {
                    <br />
                    <a class="btn rounded-0 btn-outline-secondary mb-2 w-100" id="linkChamber4">
                        <i class="fa fa-inbox opacity-50 me-1"></i> Lihat Detail
                    </a>
                }
            </div>
        </div>
    </div>
    <!-- END Row #1 -->
</div>