
@{
    ViewBag.Title = "CFM Management";
    ViewBag.JS = "/Scripts/Page/CfmManagement.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col">
        <h3>Chamber Management</h3>
    </div>
    <div class="col text-end">
        <div style="display: inline-block; vertical-align: middle; max-width:900px">
            <input type="text" class="js-flatpickr form-control" id="example-flatpickr-range" name="example-flatpickr-range" placeholder="Select Date Range" data-mode="range">
        </div>
        <div style="display: inline-block; vertical-align: middle; margin-left: 10px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <mask id="mask0_46_2445" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                    <rect width="24" height="24" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_46_2445)">
                    <path d="M8 17H16C16.2833 17 16.5208 16.9042 16.7125 16.7125C16.9042 16.5208 17 16.2833 17 16C17 15.7167 16.9042 15.4792 16.7125 15.2875C16.5208 15.0958 16.2833 15 16 15H8C7.71667 15 7.47917 15.0958 7.2875 15.2875C7.09583 15.4792 7 15.7167 7 16C7 16.2833 7.09583 16.5208 7.2875 16.7125C7.47917 16.9042 7.71667 17 8 17ZM11 10.15L10.1 9.275C9.91667 9.09167 9.6875 9 9.4125 9C9.1375 9 8.9 9.1 8.7 9.3C8.51667 9.48333 8.425 9.71667 8.425 10C8.425 10.2833 8.51667 10.5167 8.7 10.7L11.3 13.3C11.5 13.5 11.7333 13.6 12 13.6C12.2667 13.6 12.5 13.5 12.7 13.3L15.3 10.7C15.4833 10.5167 15.5792 10.2875 15.5875 10.0125C15.5958 9.7375 15.5 9.5 15.3 9.3C15.1167 9.11667 14.8875 9.02083 14.6125 9.0125C14.3375 9.00417 14.1 9.09167 13.9 9.275L13 10.15V7C13 6.71667 12.9042 6.47917 12.7125 6.2875C12.5208 6.09583 12.2833 6 12 6C11.7167 6 11.4792 6.09583 11.2875 6.2875C11.0958 6.47917 11 6.71667 11 7V10.15ZM12 22C10.6167 22 9.31667 21.7375 8.1 21.2125C6.88333 20.6875 5.825 19.975 4.925 19.075C4.025 18.175 3.3125 17.1167 2.7875 15.9C2.2625 14.6833 2 13.3833 2 12C2 10.6167 2.2625 9.31667 2.7875 8.1C3.3125 6.88333 4.025 5.825 4.925 4.925C5.825 4.025 6.88333 3.3125 8.1 2.7875C9.31667 2.2625 10.6167 2 12 2C13.3833 2 14.6833 2.2625 15.9 2.7875C17.1167 3.3125 18.175 4.025 19.075 4.925C19.975 5.825 20.6875 6.88333 21.2125 8.1C21.7375 9.31667 22 10.6167 22 12C22 13.3833 21.7375 14.6833 21.2125 15.9C20.6875 17.1167 19.975 18.175 19.075 19.075C18.175 19.975 17.1167 20.6875 15.9 21.2125C14.6833 21.7375 13.3833 22 12 22Z" fill="#34A048" />
                </g>
            </svg>
            @*<a href="link_report.pdf" style="font-size: 12px; text-decoration: none; color: #000;">Download Report</a>*@
            <button id="downloadButton" style="font-size: 12px; text-decoration: none; color: #000;">Download Report</button>
        </div>
    </div>
</div>
<div class="col-12 mb-2">
    <span style="font-size: 10px;">Berikut detail data setiap chamber yang tersedia di <b>@Session["Site"].ToString()</b>.</span>
</div>

<div class="row mb-3">
    <div class="col">
        <button type="button" class="btn rounded-0 btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-insert" style="font-size: 11px;">+ &nbsp;Create New Chamber</button>
        @*<label><input type="search" class="form-control form-control-sm" placeholder="Search" id="search" aria-controls="tbl_approval"></label>*@
    </div>
    <div class="col text-end">
        <span style="font-size: 10px;">@ViewBag.Count person need approval found &nbsp; &nbsp;</span>
        @*<button id="filterbuton">
            <i class="nav-main-link-icon fa fa-arrow-down-wide-short" style="font-size: 10px;"></i>
            <span style="font-size: 10px;">filter</span>
        </button>
        <button id="downloadButton2">
            <i class="nav-main-link-icon fa fa-download" style="font-size: 10px;"></i>
            <span style="font-size: 10px;">Download</span>*@
        </button>
    </div>
</div>

<div class="col-sm-12 col-md-6">
    <div class="dropdown" style="position: absolute; top: 0; right: 0%;">
        <label style="font-size: 12px;">7 person need approval found</label>
        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" style="font-size: 11px;">
            <i class="nav-main-link-icon fa fa-filter"></i> <span style="font-size: 12px;">filter</span>
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Status</a>
            <a class="dropdown-item" href="#">Date</a>
        </div>
        <i class="nav-main-link-icon fa fa-download" style="font-size: 11px;"></i>
        <span style="font-size: 12px;">Download</span>
    </div>
</div>

<div class="block">
    <div class="block-content block-content-full">
        <table class="js-table-checkable table table-hover table-vcenter" style="background-color: white; border-radius: 10px;" id="tbl_cfmmngmnt">
            <thead>
                <tr>
                    <th class="text-center" style="width: 40px;">
                        <div class="form-check d-inline-block">
                            <input class="form-check-input" type="checkbox" value="" id="checkAll" name="checkAll">
                            <label class="form-check-label" for="checkAll"></label>
                        </div>
                    </th>
                    <th class="d-none d-sm-table-cell" style="width: 40%; font-size: 12px; color: gray">NAME</th>
                    <th class="d-none d-sm-table-cell" style="width: 20%; font-size: 12px; color: gray ">USER</th>
                    <th class="d-none d-sm-table-cell" style="width: 15%; font-size: 12px; color: gray ">LOCATION</th>
                    <th class="d-none d-sm-table-cell" style="width: 20%; font-size: 12px; color: gray ">LAST USED</th>
                    <th style="width: 20%; font-size: 12px; color: gray; align-items: center;">ACTION</th>
                </tr>
            </thead>
            <tbody style="font-size: 14px; font-weight: 500;">
            </tbody>
        </table>
    </div>
</div>

<div class="modal" id="modal-insert" tabindex="-1" aria-labelledby="modal-normal" aria-modal="true" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="block shadow-none mb-0">
                <div class="block-header block-header-default">
                    <h3 class="block-title">Create Chamber's</h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content fs-sm">
                    <div class="mb-4">
                        <label class="form-label" for="txt_chamber">Chamber</label>
                        <input type="text" class="form-control" id="txt_chamber" name="txt_chamber">
                    </div>
                    <div class="mb-4">
                        <label class="form-label" for="txt_loc">Location</label>
                        <input type="email" class="form-control" id="txt_loc" name="txt_loc">
                    </div>
                </div>
                <div class="block-content block-content-full block-content-sm text-end border-top">
                    <button type="button" class="btn rounded-0 btn-alt-secondary" data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <button type="button" class="btn btn-secondary" onclick="Create()">
                        Create
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modal_update" tabindex="-1" aria-labelledby="modal-normal" aria-modal="true" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="block shadow-none mb-0">
                <div class="block-header block-header-default">
                    <h3 class="block-title">Edit Chamber</h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content fs-sm">
                    <div class="mb-4">
                        <input type="text" name="txt_id" id="txt_id" hidden />
                        <label class="form-label" for="txt_chamber_update">Chamber</label>
                        <input type="text" class="form-control" id="txt_chamber_update" name="txt_chamber_update">
                    </div>
                    <div class="mb-4">
                        <label class="form-label" for="txt_loc_update">Location</label>
                        <input type="email" class="form-control" id="txt_loc_update" name="txt_loc_update">
                    </div>
                </div>
                <div class="block-content block-content-full block-content-sm text-end border-top">
                    <button type="button" class="btn rounded-0 btn-alt-secondary" data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <button type="button" class="btn btn-secondary" onclick="Update()">
                        Update
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>